*{
margin:0px;
padding:0px;
}

header, section, footer, aside, nav, article, hgroup{
	display: block; /*by default will be placed under each other*/
}

html, body, h1, h2, ul, li, a, p, article, aside, footer, header, nav,section{
	padding:0;
	margin: 0;
	
}

html, body {
    height: 100%;
    margin:0;
    padding:0;
} 
#big_wrapper{
min-height:100%;
box-shadow: 0px 0px 28px 10px #888888;
}

#top_header{
	background-color: #F2F2F2;
	color: black;
	padding: 10px 20px; /*10 top bottom, 20 right left*/
	text-align: center;
}



body{
	width: 920px;
	margin-left:auto;
	margin-right: auto;
	/*background-color: #f0f0f0;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	background-image: url('webbackground.png');

}

nav{
	background-color: #3399FF;
	padding-bottom:50px;
	margin-top: 1px;
	text-align:center;	
}


#the_footer{
clear: both; 
background-color: #666666;
color: white;
padding: 5px 20px;
text-align: right;
}


#navBar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
#navBar  li {
	display:table-cell;
	 border-right: 1px solid #fff;
	
	
	
}


/*Style for menu links*/
#navBar  li a {
	display:block;
	min-width:229px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
#navBar li:hover a {
	background: #19c589;
}







/*----------------------*/

#skill_images ul {
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:20px;
	position: absolute;
	margin-left:140px;
	background-color:#F2F2F2;

}

/*Create a horizontal list with spacing*/
#skill_images  li {
	display:inline-block;
	margin-left:20px;
	border-radius: 100px;
}


/*Style for menu links*/
#skill_images  li a {
	display:block;
	min-width:100px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*	background-image:url('javaicon1.png');
	background-repeat: no-repeat;
     background-position: 0 0;*/
border-radius: 100px;
	text-decoration: none;

	
}

li.java a{
background-image:url('javaicon1.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

li.android a{
background-image:url('androidicon1.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

li.html a{
background-image:url('htmlicon1.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

li.css a{
background-image:url('cssicon1.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

li.turing a{
background-image:url('turingicon1.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

/*Hover state for top level links*/
  li.java:hover a {
	background-image:url('javaicon2.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

 li.android:hover a {
	background-image:url('androidicon2.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

 li.html:hover a {
	background-image:url('htmlicon2.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}

li.css:hover a {
	background-image:url('cssicon2.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}


 li.turing:hover a {
	background-image:url('turingicon2.png');
	background-repeat: no-repeat;
     background-size: 100% 100%;
	 border-radius: 100px;
}


/*************/


#about_me{
height:900px;
background-color:#F2F2F2;
padding-top:4%;
padding-bottom:150px;
}





#skill_heading{
margin:auto;
text-align:center;
font-style: "Verdana";
text-shadow:1px 1px #464646;
font-size:xx-large;
font-style: italic;
color: #4D4D94;
margin-top:40px;

}






#about_me_heading{
margin:auto;
text-align:center;
font-style: "Verdana";
text-shadow:1px 1px #464646;
font-size:50px;
font-weight:bold;
color: #4D4D94;
padding-left:7%;

}

#about_me_mainsection{
clear:both;
display:inline-block;
width:100%;
margin-top:40px;
}

#my_photo img{
float:left;
width:250px;
display:inline-block;
margin-left:2%;
border:1px solid #888888;
border-radius:20px;
box-shadow: 2px 2px 5px 3px #888888;

}
#written_stuff{
text-align:center-right;
display:inline-block;
margin-left:7%;
width:37%;
font-style: "Verdana";
font-size:18px;
font-weight:bold;

}

#written_stuff p{
font-style: "Verdana";
font-size:16px;
font-weight:normal;
}



#experience img{
float:right;
width:170px;
display:inline-block;
margin-right:3%;
margin-top:2%;

}



#contact{
background-color:#CCFFCC;
margin-left:20%;
margin-top:25%;
margin-right:20%;
border:2px solid #000;
border-radius:25px;
}

#contact_heading{
text-align:center;
font-style: "Verdana";
font-size:30px;

color: #4D4D94;
}

#contact_options{
margin-left:10%;
margin-top:10%;
margin-bottom:10%;
}




