*{
margin:0px;
padding:0px;
}

header, section, footer, aside, nav, article, hgroup{
	display: block; /*by default will be placed under each other*/
}

html, body, h1, h2, ul, li, a, p, article, aside, footer, header, nav,section{
	padding:0; /*Make padding and margin 0 so we have don't have to do this everytime for each element later on*/
	margin: 0;
	
}

/*
Developer Note: At first I started making this website using normal px values. However, when I was updating my website (after a long time when mobile broswers became popular)
				I started using % values. Therefore, there is a mixture of both px and % values used 
				I should have used % values, as they tend to do well on mobile devices
*/

header img{
width:60%;
height:2%;
}

#big_wrapper{
min-height:100%;
box-shadow: 0px 0px 28px 10px #888888; /*The shadow that makes the edges stand out...look at syntax for more description*/
}

#top_header{
	background-color: #F2F2F2;
	color: black;
	padding: 10px 20px; /*10 top bottom, 20 right left*/
	text-align: center;
}



body{
	width: 920px;
	margin-left:auto;
	margin-right: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	background-image: url('webbackground.png'); /*our texture background*/
	min-height:100%;
}

nav{
	background-color: #F2F2F2;
	padding-bottom:50px;
	margin-top: 1px;
	text-align:center;	

}

article{
	background-color: #E6E6B8;
	padding: 5px;
	margin-bottom:20px;
	box-shadow: 0px 2px 4px #888888;
}


 header hgroup{ /*means the hgroup inside any headers*/
	background-color:#9BA6B1;	
	font-style: "Verdana";
	text-shadow:1px 1px #464646;
	font-size:large;
	font-style: italic;
	color: #FFFAF0;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:20px;
	
}

#new_div{ /* any id with new_div*/
background-color: #F2F2F2;

}

img.slideshow{ /*any image tag with class sildeshow*/
width:100%;
height: 300px;
margin-top: 20px;
margin-bottom:10px;
}



section{
background-color: #F2F2F2;

}

#main_section{
width: 560px;
float: left;
height:100%;
padding-left: 20px;
padding-right:10px;
}


#the_footer{
clear: both; 
background-color: #666666;
color: white;
padding: 5px 20px;
text-align: right;
}

#footer_article{
font-style:italic;
text-align:right;
padding-right:8px;
}



aside{
	background-color: #F2F2F2;
	
}
#aside_section{
width: 300px;
float: right;
background-color: #F2F2F2;
padding-right: 20px;
padding-left: 10px;

height:100%;
}

#aside_section img{
float:left;
padding-left:10px;
padding-top:10px;
padding-right:10px;
}
#aside_section p{
padding-left:10px;
padding-top:10px;
color:#444444;
}

#about_me_header hgroup{

	background-color:#ADD8E6;
	text-align: center;
	font-style: "Verdana";
	text-shadow:1px 2px #464646;
	font-size:large;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	
	color: #FFFAF0;
}

#main_section_writtenstuff{
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
color:#444444;
}



ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:table-cell;
    border-right: 1px solid #fff;	
}


/*Style for menu links*/
li a {
	display:block;
	min-width:229px;

	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}



hgroup a{
color: white; 
text-decoration: none;
}

hgroup:hover a{
text-decoration:underline;
text-shadow:2px 2px #464646;
color:#E6E1D8;
}